/*
<button type="button" class="btn-close" aria-label="Chiudi"></button>
*/

/* NB richiede buttons.css per il reset */
.btn-close  {

  --icon-size: 1.3rem;
  --icon-bar-size: 1.5px;
  --icon-color: var(--text-color);
  --icon-hover-bg: var(--accent-3);
  position: relative;

  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--icon-color);
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: var(--icon-hover-bg);
  }

  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: var(--icon-size);
    height: var(--icon-bar-size);
    content: '';
    background: currentColor;
  }
  &::before {
    transform: translateY(-50%) rotate(45deg);
  }
  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}
