.spinner-overlay {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-overlay);
  display: grid;
  place-content: center;
  pointer-events: none;
  background-color: var(--spinner-overlay-color);
}

.spinner-wrapper {
  position: absolute;
  top: 1rem;
  left: 50%;
  display: grid;
  place-content: center;
  width: 4rem;
  aspect-ratio: 1;
  translate: -50%;
}
