/* TODO custome props per variare colore, poszione ecc.., */

.mediaMonitor {
  --content: 'phone';
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 2px 4px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border-top-right-radius: 2px;
  &::before {
    text-transform: uppercase;
    content: var(--content);

    @media (--media-small-viewport-up) {
      --content: 'small';
    }
    @media (--media-medium-viewport-up) {
      --content: 'medium';
    }
    @media (--media-large-viewport-up) {
      --content: 'large';
    }
    @media (--media-xlarge-viewport-up) {
      --content: 'x-large';
    }
    @media (--media-xxlarge-viewport-up) {
      --content: 'xx-large';
    }
  }
}

