h2 {
  padding: .5rem 0;
  margin-block-start: 4rem;
  border-block: 1px solid #666;
}

/* demo template personalizzato: search + info sotto la tabella */
.customInfo {
  align-items: center;
  justify-content: space-between;
}
