h2 {
  padding: .5rem 0;
  margin-block-start: 4rem;
  border-block: 1px solid #666;
}

/* custom template demo: search + info below the table */
.customInfo {
  align-items: center;
  justify-content: space-between;
}
