@custom-media --media-desktop-up (min-width: 1024px);
@custom-media --media-desktop-down (max-width: 1023x);

.container {

  width: 100%;
  max-width: var(--desktop-max-width);
  padding-inline-start: var(--spacing-lg);
  padding-inline-end: var(--spacing-lg);
  margin-inline-start: auto;
  margin-inline-end: auto;

  /* @media (--xl-n-above) {} */
}


