.flex {
  display: flex;
  flex-flow: row wrap;
  gap: var(--flex-grid-gap);
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;

  &.align-items-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
}
