.grid {
  --cols: 1;
  --min-col-width: calc((100% - calc(3 * var(--flex-grid-gap))) / var(--cols));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-col-width), 1fr));
  grid-auto-flow: row;
  gap: var(--flex-grid-gap);
  /* align-items: center; */
  /* justify-items: start; */

  &.justify-content-end {
    justify-content: end;
  }


  @media (--medium-screen) {
    --cols: 2;

    > .span-2, > .span-3, > .span-4 {
      grid-column-start: span 2;
    }
  }

  @media (--desktop-up) {
    --cols: 4;

    > .span-2 {
      grid-column-start: span 2;
    }
    > .span-3 {
      grid-column-start: span 3;
    }

    > .span-4 {
      grid-column-start: span 4;
    }
  }

  /* grid items */
  > .grid-item-last {
    grid-column: -2 / -1;
  }

  > .justify-self-end {
    justify-self: end;
  }

}
