/* wrapper per le tabelle per evitare che superino la largheza dello spazio disponibile */
.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.table {

  --alternate-row-bg: color-mix(in srgb, var(--stone-3) 40%, transparent);
  --hover-row-bg: color-mix(in srgb, var(--blue-3) 20%, transparent);
  --border-color: var(--stone-5);
  --border: 1px solid var(--border-color);

  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;

  tr {
    border-bottom: var(--border);
  }
  thead {
    tr:last-child {
      border-width: 3px;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--alternate-row-bg);
    }

    @media (--mouse) {
      tr:hover {
        background-color: var(--hover-row-bg);
      }
    }
  }


  th, td {
    padding: .3rem .6rem;
    line-height: 1.3;
    text-align: start;
    vertical-align: top;
  }

  &.table-bordered {
    border: var(--border);

    th, td {
      &:not(:first-child) {
        border-inline-start: var(--border);
      }
    }
  }

}


@media (prefers-color-scheme: dark) {
  .table {
    --alternate-row-bg: color-mix(in srgb, var(--stone-12) 60%, transparent);
    --hover-row-bg: color-mix(in srgb, var(--blue-12) 60%, transparent);
    --border-color: var(--stone-8);
  }
}
