/* da bootstrap */
/* stylelint-disable declaration-no-important */

.visually-hidden {
  display: block;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}

@media (--desktop-up) {
  .desktop-visually-hidden {
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

@media (--desktop-down) {
  .small-screen-hidden {
    display: none !important;
  }
}


@media print {
  .d-print-none {
    display: none;
  }
}

.d-none {
  display: none !important;
}
/* .position-relative {
  position: relative;
} */

/* .mobile-hidden {
  @media (--media-desktop-down) {
    display: none;
  }
} */

/* .w-100 {
  width: 100% !important;
} */
/* .w-auto {
  width: auto !important;
} */

/* .mt-xxs {
  margin-block-start: var(--spacing-xxs);
} */
.mt {
  margin-block-start: var(--spacing-base);
}
.mt-lg {
  margin-block-start: var(--spacing-lg);
}
/* .mt-xl {
  margin-block-start: var(--spacing-xl);
} */
/* @media (--media-desktop-up) {

  .mt-dsk-lg {
    margin-block-start: var(--spacing-lg);
  }
} */

.mb-0 {
  margin-block-end: 0;
}
.mb {
  margin-block-end: var(--spacing-base);
}
.mb-lg {
  margin-block-end: var(--spacing-lg);
}
/* .mb-xl {
  margin-block-end: var(--spacing-xl);
} */
/* @media (--media-desktop-up) {

  .mb-dsk-lg {
    margin-block-end: var(--spacing-lg);
  }
} */

/* .grid-full-row {
  grid-column: 1 / -1;
} */

.me {
  margin-inline-end: var(--spacing-base);
}
.me-xs {
  margin-inline-end: var(--spacing-xs);
}
