/* stylelint-disable selector-max-id */
@import 'vanilla-cookieconsent/dist/cookieconsent.css';

/* stylelint-disable declaration-no-important */
#cc-main {
  h2 {
    line-height: 1.3 !important;
  }

  .btn-link {
    font-weight: var(--font-weight-semibold);

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* stylelint-enable declaration-no-important */
