/*
  CSS globali
  i fogli stile delle singole parti sono importate direttamente nel file js relativo
  o (se non necessario), direttamente nel file js principale
 */

@import '@app/css/fonts.css';
/* @import '../node_modules/open-props/open-props.min.css'; */
@import '@app/css/custom-properties-figma.css';
@import '@app/css/custom-properties.css';

@import '@minimo/reset.css';
@import '@minimo/layout-base.css';
@import '@minimo/container.css';

@import '@minimo/form/form.css';
@import '@minimo/form/form-edit-info.css';
@import '@minimo/buttons/buttons.css';
@import '@minimo/buttons/status-buttons.css';
@import '@minimo/buttons/btn-close.css';
@import '@minimo/text.css';
@import '@minimo/headings.css';
@import '@minimo/alert.css';
@import '@minimo/icons.css';
@import '@minimo/svg.css';
/* @import '@minimo/overlay.css'; */
@import '@minimo/spinner.css';
@import '@minimo/inner-nav.css';
@import '@minimo/table.css';
@import '@minimo/flex.css';
@import '@minimo/grid.css';
@import '@minimo/details.css';

@import '@minimo/utilities.css';


/* componenti */
@import '@src/components/modal-alert/modal-alert.css';


@import '@src/layout/layout.css';
