

.container {

  width: 100%;
  max-width: var(--container-max-width);
  padding-inline-start: var(--spacing-lg);
  padding-inline-end: var(--spacing-lg);
  margin-inline-start: auto;
  margin-inline-end: auto;

  /* @media (--xl-n-above) {} */
}


