
.data-lining-nums {
  font-feature-settings: 'lnum', 'pnum';
  font-variant-numeric: lining-nums proportional-nums;
}

.data-tabular-nums {
  font-feature-settings: 'lnum', 'pnum';
  font-variant-numeric: lining-nums tabular-nums;
}

.data-euro {
  &::before {
    margin-right: .2rem;
    font-size: 70%;
    color: currentColor;
    content: '\20AC';
  }
}
.data-perc {
  &::after {
    margin-left: .1rem;
    font-size: 70%;
    color: currentColor;
    content: '%';
  }
}
.data-dec {
  font-size: 85%;
}
