/* stylelint-disable declaration-no-important */


@media print {
  .d-print-none {
    display: none;
  }
}

.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}


@media (--media-medium-viewport-down) {
  .d-md-down-none {
    display: none !important;
  }
}
/*
.d-md-up-block {
  display: none;

  @media (--media-medium-viewport-up) {
    display: block;
  }
}
.d-md-up-flex {
  display: none;

  @media (--media-medium-viewport-up) {
    display: flex;
  }
} */

/* .mobile-hidden {
  @media (--media-large-viewport-down) {
    display: none;
  }
}

@media (--media-large-viewport-down) {
  .sm-screen-hidden {
    display: none !important;
  }
}
*/
