
h1, h2, h3, .h3, h4, .h4 {
  line-height: 1.2;
  text-align: var(--headings-test-align);
}

h1 {
  margin: 0 0 2rem;
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);

  small, .small, .text-sm {
    display: block;
    font-size: var(--font-size-sm);
    color: var(--text-muted-color);
  }
}

h2, h3, .h3, h4, .h4 {
  font-weight: var(--font-weight-semibold);
}
h2 {
  margin: 0 0 2rem;
  font-size: 2rem;
}

h3, .h3 {
  margin: 0 0 1.5rem;
  font-size: 1.6rem;
}
h4, .h4 {
  margin: 0 0 1.5rem;
  font-size: 1.4rem;
}
