html, body {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-style: var(--font-style-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--body-bg-color);
  scroll-behavior: smooth;
}
