/* da bootstrap */
/* stylelint-disable declaration-no-important */

/* purgecss start ignore */
.visually-hidden {
  display: block;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip-path: rect(0 0 0 0) !important;
}
.visibility-hidden {
  visibility: hidden;
}
/* purgecss end ignore */

.overflow-hidden {
  overflow: hidden;
}

@media (--media-medium-viewport-down) {
  .d-md-down-none {
    display: none !important;
  }
}
/*
.d-md-up-block {
  display: none;

  @media (--media-medium-viewport-up) {
    display: block;
  }
}
.d-md-up-flex {
  display: none;

  @media (--media-medium-viewport-up) {
    display: flex;
  }
} */

/*  TODO da rivedere  */
/* @media (--media-xlarge-viewport-up) {
  .xlg-visually-hidden {
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip-path: rect(0 0 0 0) !important;
  }
}
@media (--media-large-viewport-up) {
  .lg-visually-hidden {
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip-path: rect(0 0 0 0) !important;
  }
}

@media (--media-large-viewport-down) {
  .sm-screen-hidden {
    display: none !important;
  }
} */


@media print {
  .d-print-none {
    display: none;
  }
}

.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
/* .position-relative {
  position: relative;
} */

/* .mobile-hidden {
  @media (--media-large-viewport-down) {
    display: none;
  }
} */

/* TODO produzione utilities in automatico o con funzione css */
.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}

.mbs-xxs {
  margin-block-start: var(--size-xxs);
}
.mbs-0 {
  margin-block-start: 0;
}
.mbs {
  margin-block-start: var(--size-base);
}
.mbs-lg {
  margin-block-start: var(--size-lg);
}
.mbs-xl {
  margin-block-start: var(--size-xl);
}
.mbs-auto {
  margin-block-start: auto;
}
/* @media (--media-large-viewport-up) {

  .mt-dsk-lg {
    margin-block-start: var(--size-lg);
  }
} */

.mbe-0 {
  margin-block-end: 0;
}
.mbe {
  margin-block-end: var(--size-base);
}
.mbe-xs {
  margin-block-end: var(--size-xs);
}
.mbe-lg {
  margin-block-end: var(--size-lg);
}
.mbe-xl {
  margin-block-end: var(--size-xl);
}
/* @media (--media-large-viewport-up) {

  .mb-dsk-lg {
    margin-block-end: var(--size-lg);
  }
} */

/* .grid-full-row {
  grid-column: 1 / -1;
} */

.mis {
  margin-inline-start: var(--size-base);
}
.mis-auto {
  margin-inline-start: auto;
}

.mie {
  margin-inline-end: var(--size-base);
}
.mie-xs {
  margin-inline-end: var(--size-xs);
}

.mi {
  margin-inline: var(--size-base);
}
.mi-0 {
  margin-inline: 0;
}

.mb {
  margin-block: var(--size-base);
}
.mb-0 {
  margin-block: 0;
}

.mi-lg {
  margin-inline: var(--size-lg);
}

.mb-lg {
  margin-block: var(--size-lg);
}

.mi-xl {
  margin-inline: var(--size-xl);
}
.mb-xl {
  margin-block: var(--size-xl);
}

