
.sf-macro-wrapper {
  --sf-macro-rows-padding: .5rem;
  --sf-macro-rows-margin-bottom: 1rem;
  --sf-macro-rows-border-radius: .4rem;
  --sf-macro-rows-hover-bg-color: color-mix(in srgb, var(--body-bg-color) 95%, #000);
  --sf-macro-even-rows-bg-color: var(--body-bg-color); /* rgb(0 0 0 / .05); */
  --sf-macro-rows-border: 1px solid var(--stone-5);
  --sf-macro-close-btn-size: 2rem;


  /* etichette campi righe successive alla prima */
  @media (--desktop-up) {
    &:not(.always-show-labels) {
      .sf-macro-riga {
        &:not(:first-child) {
          .form-label, label {
            display: none;
          }
        }
      }
    }
  }

  /*
  // forza la visualizzazione delle etichette in tutte le righe
  // a partire dal breakpont successivo a quello indicato
  @each $brk in (xs, sm, md, lg, xl) {
    &.sf-macro-show-label-down-#{$brk} {
      @include media-breakpoint-down($brk) {
        .form-label, label {
          display: inline-block !important;
        }
      } // end @media
    }
  } // end @each
  */

}

.sf-macro-riga {
  position: relative;
  padding: var(--sf-macro-rows-padding);
  margin-bottom: var(--sf-macro-rows-margin-bottom);
  border: var(--sf-macro-rows-border);
  border-radius: var(--sf-macro-rows-border-radius);

  &:nth-child(even) {
    background-color: var(--sf-macro-even-rows-bg-color);
  }


  &:hover {
    background-color: var(--sf-macro-rows-hover-bg-color);
  }

  .form-group {
    margin-bottom: 0;

    &:has([type='checkbox']) {
      align-self: center;
    }
  }

  .grid {
    row-gap: .8rem;
  }

} /* end .sf-macro-riga */


.sf-macro-close-btn { /* button */
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  z-index: 1;
  display: block;
  width: var(--sf-macro-close-btn-size);
  height: var(--sf-macro-close-btn-size);
  padding: 1px;
  color: currentColor;
  background-color: var(--body-content-bg);
  border-radius: 50%;


  &[disabled], [disabled] & {
    cursor: not-allowed;
    opacity: .4;
    transform: skew(-15deg);
  }

  svg {
    width: 100%;
    aspect-ratio: 1;
  }
}

.sf-macro-riga:has(.sf-macro-close-btn:not(:disabled):hover) {

  outline: 2px dashed var(--status-danger-color);
  .sf-macro-close-btn {
    color: var(--status-danger-color);
  }
}
