/*! minimo - Inner Nav */

.inner-nav-main, .inner-nav {
  display: flex;
  gap: var(--inner-nav-gap);
  justify-content: flex-end;
  margin-block: var(--inner-nav-margin-block);
  /* text-align: end; */

  @media print {
    display: none;
  }
}
