/* TODO switch to jit */
/* TODO ricontrollare i colori, se possibile sganciarli da openprops nel defaults */
/* vedi https://postcss.org/docs/writing-a-postcss-plugin */
/* https://github.com/GoogleChromeLabs/postcss-jit-props */


:root {

  /* figma */
  --body-bg-color: var(--stone-0);
  --text-color: #000;
  --footer-bg: #282c35;
  --footer-fg: #fff;
  --footer-link: var(--yellow-5);
  --link-color: var(--primary);
  --primary: #203c6e;
  --primary-fg: #fff;
  --secondary: #a3384e;
  --secondary-fg: var(--body-bg-color);
  --radius: 0.38rem;
  /* end figma */

  /* project */
  /* end project */

  --container-max-width: 90rem;

  --font-family: 'Open Sans Variable', sans-serif;
  --font-family-mono: 'Monaspace Neon Var', 'Monaspace Neon', 'Aptos Mono', 'Roboto Mono', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Andale Mono', 'Courier New', monospace;

  /* --font-weight-xxlight: 100; */
  /* --font-weight-xlight: 200; */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
  --font-weight-xbold: 800;

  --flex-grid-gap: 1.5rem;

  --gray-xlight: var(--gray-2);
  --gray-light: var(--gray-4);
  --gray-medium: var(--gray-6);
  --gray-dark: var(--gray-8);


  /* TODO rifare come modular scale */
  /* Fluid Type Scale Calculator - Generate font size variables for a fluid type scale <https://www.fluid-type-scale.com/> */
  /* Creating a Fluid Type Scale with CSS Clamp | Aleksandr Hovhannisyan <https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/> */

  /* vedi anche */
  /* Modular scale: Every Layout <https://every-layout.dev/rudiments/modular-scale/> */
  /* Consistent, Fluidly Scaling Type and Spacing | CSS-Tricks <https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/> */
  /* Modularscale <https://www.modularscale.com/> */
  /* Proportio.app <https://proportio.app/> */
  /* Grid lover (vertcal Rythm) <https://gridlover.net/try>   */
  /* Fluid Grid Calculator <https://utopia.fyi/grid/calculator/> */
  /* Fluid Space Calculator <https://utopia.fyi/space/calculator> */
  /* Modern fluid typography editor <https://modern-fluid-typography.vercel.app/> */
  /* Fluid type scale calculator | Utopia <https://utopia.fyi/type/calculator/> */



  /*

  @support ...
  @function --negate(--value) {
    result: calc(var(--value) * -1);
  }

  div {
  --gap: 1em;
  margin-top: --negate(var(--gap));
  }
  */

  /*
  https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjY0cmVtIiwibWF4V2lkdGgiOiI5MHJlbSIsIm1pbkZvbnRTaXplIjoiMS4wNXJlbSIsIm1heEZvbnRTaXplIjoiMS4zcmVtIn0%3D
  */
  --font-size-xxs: clamp(.6rem, .3538rem + .3846vw, .7rem);
  --font-size-xs: clamp(.7rem, .4538rem + .3846vw, .8rem);
  --font-size-sm: clamp(.8rem, .5538rem + .3846vw, .9rem);
  --font-size-base: clamp(.9rem, .6538rem + .3846vw, 1rem);
  --font-size-lead: clamp(1rem, 0.6923rem + 0.4808vw, 1.125rem);
  --font-size-md: clamp(1.05rem, .6808rem + .5769vw, 1.2rem);
  --font-size-lg: clamp(1.2rem, .7077rem + .7692vw, 1.4rem);
  --font-size-xl: clamp(1.6rem, 1.1077rem + .7692vw, 1.8rem);
  --font-size-2xl: clamp(2rem, .7692rem + 1.9231vw, 2.5rem);
  --font-size-3xl: clamp(2.2rem, .2308rem + 3.0769vw, 3rem);

  --font-style-base: normal;

  /* Rhythm in Web Typography | Better Web Type <https://betterwebtype.com/articles/2018/10/15/rhythm-in-web-typography/> */
  /* The good line-height <https://www.thegoodlineheight.com/> */
  --line-height-base: 1.5;

  --headings-text-align: start;
  --text-muted-color: var(--stone-7);
  --text-dim-color: var(--gray-8);
  --link-visited-color: var(--camo-9);
  --link-active-color: var(--sand-3);
  --link-active-bg-color: var(--sand-3);

  --form-group-padding-block: 0 var(--spacing-base);
  --form-text-color: var(--text-color);
  --form-bg-color: var(--gray-0);
  --form-input-group-bg-color: var(--gray-1);
  --form-border-color: var(--gray-6);
  --form-disabled-bg-color: var(--gray-3);
  --form-disabled-opacity: .3;
  --form-placeholder-color: var(--stone-8);
  --form-required-flag-color: var(--red-8);
  --form-required-flag-content: '\002A';
  --form-fieldset-border-width: 1px;
  --form-legend-bg-color: var(--stone-3);
  --form-legend-color: #333; /*  var(--text-color); */

  --form-btn-border-radius: var(--radius-xxs);
  --form-btn-padding-y: var(--spacing-xxs);
  --form-btn-padding-x: var(--spacing-xs);
  --form-btn-font-size: clamp(.85rem, 6vw, 1rem);
  --form-btn-sm-font-size: clamp(.75rem, 6vw, .9rem);
  --form-btn-sm-padding-x: .8rem;
  --form-btn-sm-padding-y: .1rem;
  --form-btn-focus-color: hsl(205 69% 45% / .508);
  --form-btn-outline-width: 4px;

  /* TODO importazione automatica SVG (NB problemi con svgo) */
  /* url('./css/forms/select-indicator.svg?cssInline'); */
  --form-select-indicator: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22rgb(5%2C%2048%2C%2056)%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22m2%205%206%206%206-6%22%2F%3E%3C%2Fsvg%3E');
  --form-font-style: normal;
  --form-font-weight: var(--font-weight-regular);

  --btn-border-width: 1px;
  --btn-o-border-width: 2px;
  --btn-font-style: var(--form-font-style);
  --btn-font-weight: var(--form-font-weight);


  --btn-primary-bg-color: linear-gradient(45deg, var(--primary), color-mix(in srgb, var(--primary) 95%, #000));
  --btn-primary-fg-color: var(--primary-fg);
  --btn-primary-border-color: var(--primary);
  --btn-primary-hover-bg-color: color-mix(in srgb, var(--primary) 90%, #000);
  --btn-primary-hover-fg-color: var(--btn-primary-fg-color);
  --btn-primary-hover-border-color: var(--btn-primary-border-color);
  --btn-primary-active-bg-color: color-mix(in srgb, var(--primary) 90%, #fff);
  --btn-primary-active-fg-color: var(--btn-primary-fg-color);
  --btn-primary-active-border-color: var(--btn-primary-active-bg-color);
  --btn-primary-focus-outline-color: color-mix(in srgb, var(--btn-primary-border-color) 25%, transparent);

  --btn-secondary-bg-color: var(--secondary);
  --btn-secondary-fg-color: var(--secondary-fg);
  --btn-secondary-border-color: var(--secondary);
  --btn-secondary-hover-bg-color: color-mix(in srgb, var(--btn-secondary-bg-color) 70%, #000);
  --btn-secondary-hover-fg-color: var(--btn-secondary-fg-color);
  --btn-secondary-hover-border-color: var(--btn-secondary-hover-bg-color);
  --btn-secondary-active-bg-color: var(--btn-secondary-hover-fg-color);
  --btn-secondary-active-fg-color: var(--btn-secondary-hover-bg-color);
  --btn-secondary-active-border-color: var(--btn-secondary-active-bg-color);
  --btn-secondary-focus-outline-color: color-mix(in srgb, var(--btn-secondary-border-color) 50%, transparent);


  --btn-o-primary-bg-color: var(--primary-fg);
  --btn-o-primary-fg-color: var(--primary);
  --btn-o-primary-border-color: var(--btn-o-primary-fg-color);
  --btn-o-primary-hover-bg-color: color-mix(in srgb, var(--primary) 10%, transparent);
  --btn-o-primary-hover-fg-color: var(--btn-o-primary-fg-color);
  --btn-o-primary-hover-border-color: var(--btn-o-primary-border-color);
  --btn-o-primary-active-bg-color: var(--btn-o-primary-fg-color);
  --btn-o-primary-active-fg-color: var(--btn-o-primary-bg-color);
  --btn-o-primary-active-border-color: var(--btn-o-primary-border-color);
  --btn-o-primary-focus-outline-color: color-mix(in srgb, var(--primary) 20%, transparent);


  --btn-o-secondary-bg-color: color-mix(in srgb, var(--secondary) 5%, transparent);
  --btn-o-secondary-fg-color: var(--secondary);
  --btn-o-secondary-border-color: var(--secondary);
  --btn-o-secondary-hover-bg-color: color-mix(in srgb, var(--secondary) 15%, #fff);
  --btn-o-secondary-hover-fg-color: var(--secondary);
  --btn-o-secondary-hover-border-color: var(--btn-o-secondary-border-color);
  --btn-o-secondary-active-bg-color: var(--secondary);
  --btn-o-secondary-active-fg-color: var(--secondary-fg);
  --btn-o-secondary-active-border-color: var(--btn-o-secondary-border-color);
  --btn-o-secondary-focus-outline-color: color-mix(in srgb, var(--secondary) 50%, #fff);

  /* btn-close */
  --btn-close-size: 1.5rem;
  --btn-close-icon-bar-size: 2px;
  --btn-close-icon-color: var(--text-color);

  /* senza sfondo */
  /*
  --btn-close-icon-hover-color: var(--accent);
  --btn-close-border-radius: 50%;
  --btn-close-border: none;
  --btn-close-padding: 0;
  --btn-close-background: transparent;
  --btn-close-background-hover: transparent;
  --btn-close-background-active: transparent;
  */

  /* con sfondo */
  --btn-close-border-width: 3px;
  --btn-close-border-color: var(--btn-close-icon-color);
  --btn-close-border-radius: 50%;
  --btn-close-padding: 3px;
  --btn-close-background: var(--body-bg-color);
  --btn-close-hover-background: var(--btn-close-icon-color);
  --btn-close-icon-hover-color: var(--btn-close-background);
  --btn-close-active-background: var(--accent);
  --btn-close-icon-active-color: var(--accent-fg);
  --btn-close-focus-outline-width: var(--form-btn-outline-width);
  --btn-close-focus-outline-color: color-mix(in srgb, var(--accent) 50%, transparent);
  /* end btn-close */

  --spacing-xxs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: .75rem;
  --spacing-base: 1rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;


  --radius-xxs: var(--spacing-xxs);
  --radius-xs: var(--spacing-xs);
  --radius-sm: var(--spacing-sm);
  --radius-base: var(--spacing-base);
  --radius-md: var(--spacing-md);
  --radius-lg: var(--spacing-lg);
  --radius-xl: var(--spacing-xl);
  --radius-pill: 999rem;

  --spinner-color: var(--text-color);
  --spinner-size: 3rem;
  --spinner-stroke: .4rem; /* dove utilizzato */
  --spinner-overlay-color: color-mix(in srgb, var(--text-color) 20%, transparent);

  --alert-border-radius: var(--radius-md);
  --alert-box-shadow: var(--box-shadow-base);

  --status-success-color: #046d19;
  --status-success-border-color: var(--status-success-color);
  --status-success-fg-color: #fff;

  --status-danger-color: #c00;
  --status-danger-border-color: var(--status-danger-color);
  --status-danger-fg-color: #fff;

  --status-info-color: #0665c5;
  --status-info-border-color: var(--status-info-color);
  --status-info-fg-color: #fff;

  --status-warning-color: #fc0;
  --status-warning-border-color: var(--status-warning-color);
  --status-warning-fg-color: #4f2900;

  --box-shadow-base: 0 0 1.2rem #00000040;

}


@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* figma */
    --body-bg-color: var(--stone-0);
    --text-color: #000;
    --footer-bg: #282c35;
    --footer-fg: #fff;
    --footer-link: var(--yellow-5);
    --link-color: var(--primary);
    --primary: #203c6e;
    --secondary: #a3384e;
    --secondary-fg: var(--body-bg-color);
    --radius: 0.38rem;
    /* end figma */

    /* project */
    /* end project */

    --gray-light: var(--gray-11);
    /* --gray-medium: var(--gray-6); */
    --gray-dark: var(--gray-2);

    --text-muted-color: var(--stone-5);
    --text-dim-color: var(--gray-5);
    --link-visited-color: var(--sand-3);

    --btn-primary-bg-color: linear-gradient(45deg, var(--green-9), var(--green-10));
    --btn-primary-fg-color: var(--gray-0);
    --btn-primary-border-color: var(--green-10);
    --btn-primary-hover-bg-color: var(--green-11);
    --btn-primary-hover-fg-color: var(--btn-primary-fg-color);
    --btn-primary-hover-border-color: var(--btn-primary-border-color);
    --btn-primary-active-bg-color: var(--green-12);
    --btn-primary-active-fg-color: var(--btn-primary-fg-color);
    --btn-primary-active-border-color: var(--btn-primary-active-bg-color);
    --btn-primary-focus-outline-color: color-mix(in srgb, var(--btn-primary-border-color) 25%, transparent);

    --btn-secondary-bg-color: var(--stone-4);
    --btn-secondary-fg-color: var(--stone-9);
    --btn-secondary-border-color: var(--stone-6);
    --btn-secondary-hover-bg-color: var(--stone-5);
    --btn-secondary-hover-fg-color: var(--stone-11);
    --btn-secondary-hover-border-color: var(--btn-secondary-border-color);
    --btn-secondary-active-bg-color: var(--stone-11);
    --btn-secondary-active-fg-color: var(--stone-0);
    --btn-secondary-active-border-color: var(--btn-secondary-active-bg-color);
    --btn-secondary-focus-outline-color: color-mix(in srgb, var(--btn-secondary-border-color) 50%, transparent);

    --status-success-color: #04ba29;
    --status-success-fg-color: #fff;

    --status-danger-color: #dd0303;
    --status-danger-fg-color: #fff;

    --status-info-color: #044c94;
    --status-info-fg-color: #fff;

    --status-warning-color: #d1a804;
    --status-warning-fg-color: #000;
  }
}
