:root {
  --accent-base: #567d0d;
  --accent-on-base: #fff;
  --alert-border-radius: var(--radius-md);
  --alert-drop-shadow: 0 0 .5rem 0 oklch(0% 0 0 / .5);
  --badge-background-color: var(--primary-base);
  --badge-color: var(--primary-on-base);
  --badge-font-size: var(--font-size-xs);
  --badge-font-weight: var(--font-weight-semibold);
  --badge-lg-font-size: var(--font-size-base);
  --badge-lg-font-weight: var(--badge-font-weight);
  --body-background-color: #fff;
  --body-text: var(--text-color);
  --btn-border-radius: var(--form-control-border-radius);
  --btn-border-width: var(--form-control-border-width);
  --btn-close-active-background-color: var(--link-active-background-color);
  --btn-close-active-icon-color: var(--link-active-color);
  --btn-close-background-color: var(--body-background-color);
  --btn-close-border-color: var(--btn-close-icon-color);
  --btn-close-border-radius: 3.125rem;
  --btn-close-border-width: .125rem;
  --btn-close-focus-outline-color: var(--link-focus-outline-color);
  --btn-close-focus-outline-offset: .125rem;
  --btn-close-focus-outline-width: .125rem;
  --btn-close-hover-background-color: var(--btn-close-icon-color);
  --btn-close-hover-icon-color: var(--btn-close-background-color);
  --btn-close-icon-bar-size: .125rem;
  --btn-close-icon-color: var(--text-color);
  --btn-close-padding: .1875rem;
  --btn-close-size: 1.5rem;
  --btn-disabled-opacity: var(--form-control-disabled-opacity);
  --btn-focus-outline-width: var(--form-control-focus-outline-width);
  --btn-font-size: var(--form-control-font-size);
  --btn-font-style: var(--form-control-font-style);
  --btn-font-weight: var(--form-control-font-weight);
  --btn-hollow-border-width: var(--btn-border-width);
  --btn-lg-focus-outline-width: .25rem;
  --btn-lg-font-size: var(--font-size-lg);
  --btn-lg-padding-block: var(--size-base);
  --btn-lg-padding-inline: var(--size-md);
  --btn-md-focus-outline-width: .1875rem;
  --btn-md-font-size: var(--font-size-md);
  --btn-md-padding-block: var(--size-xs);
  --btn-md-padding-inline: var(--size-sm);
  --btn-padding-block: var(--size-xs);
  --btn-padding-inline: var(--size-base);
  --btn-primary-active-background-color: color-mix(in srgb, var(--btn-primary-background-color) 60%, #000);
  --btn-primary-active-border-color: var(--btn-primary-active-background-color);
  --btn-primary-active-color: var(--btn-primary-color);
  --btn-primary-background-color: var(--primary-base);
  --btn-primary-border-color: var(--btn-primary-background-color);
  --btn-primary-color: var(--primary-on-base);
  --btn-primary-focus-outline-color: color-mix(in srgb, var(--btn-primary-background-color) 60%, transparent);
  --btn-primary-hollow-background-color: var(--btn-primary-color);
  --btn-primary-hollow-color: var(--btn-primary-background-color);
  --btn-primary-hollow-hover-background-color: color-mix(in srgb, var(--btn-primary-hollow-color) 20%, transparent);
  --btn-primary-hollow-hover-color: var(--btn-primary-hollow-color);
  --btn-primary-hover-background-color: var(--btn-primary-color);
  --btn-primary-hover-border-color: var(--btn-primary-hover-color);
  --btn-primary-hover-color: var(--btn-primary-background-color);
  --btn-sm-focus-outline-width: .125rem;
  --btn-sm-font-size: var(--font-size-sm);
  --btn-sm-padding-block: var(--size-xxs);
  --btn-sm-padding-inline: var(--size-xs);
  --btn-xl-focus-outline-width: .375rem;
  --btn-xl-font-size: var(--font-size-xl);
  --btn-xl-padding-block: var(--size-md);
  --btn-xl-padding-inline: var(--size-xl);
  --btn-xs-focus-outline-width: .0625rem;
  --btn-xs-font-size: var(--font-size-xs);
  --btn-xs-padding-block: var(--size-xxs);
  --btn-xs-padding-inline: var(--size-xxs);
  --flex-grid-gap: 1.5rem;
  --font-family: sans-serif;
  --font-family-mono: 'Monaspace Neon Var', 'Monaspace Neon', 'Aptos Mono', 'Roboto Mono', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Andale Mono', 'Courier New', monospace;
  --font-line-height-base: 1.5;
  --font-size-2xl: clamp(2rem, .7692rem + 1.9231vw, 2.5rem);
  --font-size-3xl: clamp(2.2rem, .2308rem + 3.0769vw, 3rem);
  --font-size-base: clamp(.9rem, .6538rem + .3846vw, 1rem);
  --font-size-lg: clamp(1.2rem, .7077rem + .7692vw, 1.4rem);
  --font-size-md: clamp(1.05rem, .6808rem + .5769vw, 1.2rem);
  --font-size-sm: clamp(.8rem, .5538rem + .3846vw, .9rem);
  --font-size-xl: clamp(1.6rem, 1.1077rem + .7692vw, 1.8rem);
  --font-size-xs: clamp(.7rem, .4538rem + .3846vw, .8rem);
  --font-size-xxs: clamp(.6rem, .3538rem + .3846vw, .7rem);
  --font-style-base: normal;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-xbold: 900;
  --font-weight-xlight: 200;
  --font-weight-xxlight: 100;
  --form-control-background-color: var(--body-background-color);
  --form-control-border-color: #666;
  --form-control-border-radius: var(--radius-xxs);
  --form-control-border-width: .0625rem;
  --form-control-disabled-background-color: #999;
  --form-control-disabled-opacity: .3;
  --form-control-focus-color: hsl(205 69% 45% / .508);
  --form-control-focus-outline-width: .25rem;
  --form-control-font-size: var(--font-size-base);
  --form-control-font-style: normal;
  --form-control-font-weight: var(--font-weight-regular);
  --form-control-lg-font-size: var(--font-size-lg);
  --form-control-lg-padding-block: var(--size-base);
  --form-control-lg-padding-inline: var(--size-md);
  --form-control-md-font-size: var(--font-size-md);
  --form-control-md-padding-block: var(--size-xs);
  --form-control-md-padding-inline: var(--size-sm);
  --form-control-padding-block: var(--size-xs);
  --form-control-padding-inline: var(--size-sm);
  --form-control-placeholder-color: #666;
  --form-control-placeholder-font-size: var(--form-control-font-size);
  --form-control-placeholder-font-style: italic;
  --form-control-placeholder-opacity: .8;
  --form-control-required-flag-color: #c00;
  --form-control-required-flag-content: '\002A';
  --form-control-select-trigger-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22rgb(5%2C%2048%2C%2056)%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22m2%205%206%206%206-6%22%2F%3E%3C%2Fsvg%3E');
  --form-control-sm-font-size: var(--font-size-sm);
  --form-control-sm-padding-block: var(--size-xxs);
  --form-control-sm-padding-inline: var(--size-xs);
  --form-control-static-background-color: transparent;
  --form-control-static-color: var(--form-control-text-color);
  --form-control-text-color: var(--text-color);
  --form-control-xl-font-size: var(--font-size-xl);
  --form-control-xl-padding-block: var(--size-md);
  --form-control-xl-padding-inline: var(--size-xl);
  --form-control-xs-font-size: var(--font-size-xs);
  --form-control-xs-padding-block: var(--size-xxs);
  --form-control-xs-padding-inline: var(--size-xxs);
  --form-end-margin-block-end: var(--size-base);
  --form-end-margin-block-start: var(--size-base);
  --form-fieldset-border-width: .0625rem;
  --form-fieldset-legend-background-color: transparent;
  --form-fieldset-legend-color: var(--text-color);
  --form-group-padding-block: 0 var(--size-base);
  --form-input-group-background-color: transparent;
  --form-label-color: var(--text-color);
  --form-label-font-size: var(--font-size-sm);
  --form-label-font-weight: var(--font-weight-semibold);
  --form-user-info-color: var(--text-muted);
  --form-user-info-font-size: var(--font-size-xs);
  --grid-cols: 3;
  --grid-min-col-width: 6rem;
  --headings-color: var(--text-color);
  --headings-font-weight: var(--font-weight-semibold);
  --headings-h1-font-size: var(--font-size-2xl);
  --headings-h1-font-weight: var(--headings-font-weight);
  --headings-h2-font-size: var(--font-size-xl);
  --headings-h3-font-size: var(--font-size-lg);
  --headings-h4-font-size: var(--font-size-md);
  --headings-text-align: inherit;
  --layout-container-max-width: 80rem;
  --link-active-background-color: transparent;
  --link-active-color: #51054c;
  --link-color: #0d12ae;
  --link-focus-outline-color: var(--link-color);
  --link-focus-outline-width: .125rem;
  --link-visited-color: #ae0da3;
  --neutral-base: #666;
  --neutral-on-base: #fff;
  --overlay-color: rgb(0 0 0 / .6);
  --primary-base: #083865;
  --primary-on-base: #fff;
  --radius-base: var(--size-base);
  --radius-lg: var(--size-lg);
  --radius-md: var(--size-md);
  --radius-pill: 9999rem;
  --radius-sm: var(--size-sm);
  --radius-xl: var(--size-xl);
  --radius-xs: var(--size-xs);
  --radius-xxs: var(--size-xxs);
  --recaptcha-alert-background-color: #000;
  --recaptcha-alert-foreground: #fff;
  --recaptcha-alert-overlay-color: rgb(0 0 0 / .5);
  --sdt-hover-background-color: var(--btn-primary-background-color);
  --sdt-hover-color: var(--btn-primary-color);
  --sdt-pagination-border: var(--btn-border-width) var(--neutral-base);
  --sdt-pagination-padding-block: var(--size-xxs);
  --sdt-pagination-padding-inline: var(--size-xs);
  --sdt-thead-hover-background-color: color-mix(in srgb, var(--table-thead-background-color) 90%, var(--accent-base));
  --secondary-base: #650853;
  --secondary-on-base: #fff;
  --size-2xl: 3rem;
  --size-3xl: 4rem;
  --size-base: 1rem;
  --size-lg: 1.5rem;
  --size-md: 1.2rem;
  --size-sm: .75rem;
  --size-xl: 2rem;
  --size-xs: .5rem;
  --size-xxs: .25rem;
  --spinner-color: var(--primary-base);
  --spinner-size: var(--size-lg);
  --spinner-stroke-width: .125rem;
  --status-danger-border-color: var(--status-danger-color);
  --status-danger-color: #c00;
  --status-danger-fg: #fff;
  --status-info-border-color: var(--status-info-color);
  --status-info-color: #0665c5;
  --status-info-fg: #fff;
  --status-success-border-color: var(--status-success-color);
  --status-success-color: #046d19;
  --status-success-fg: #fff;
  --status-warning-border-color: var(--status-warning-color);
  --status-warning-color: #fc0;
  --status-warning-fg: #4f2900;
  --table-body-border-width: .0625rem;
  --table-body-tr-alt-bg-color: #efefef;
  --table-body-tr-hover-bg-color: #cbcbcb;
  --table-border-color: #333;
  --table-cell-line-height: 1.3;
  --table-cell-padding-block: .3rem;
  --table-cell-padding-inline: .6rem;
  --table-thead-background-color: #ddd;
  --table-thead-border-width: .1875rem;
  --text-color: #000;
  --text-dim: var(--text-muted);
  --text-muted: var(--neutral-base);
  --text-negative: #fff;
  --text-selected-background-color: #ddd;
  --text-selected-text: var(--body-text);
  --toast-border-radius: var(--radius-sm);
  --toast-duration: 5s;
  --toast-font-size: var(--font-size-sm);
  --toast-text-color: var(--text-color);
  --z-index-overlay: 99;
}
