/*
  CSS globali
  i fogli stile delle singole parti sono importate direttamente nel file js relativo
  o (se non necessario), direttamente nel file js principale
 */

@import '@app/css/fonts.css';
/* @import '../node_modules/open-props/open-props.min.css'; */
/* @import '@app/css/custom-properties-figma.css'; */
@import '@app/css/custom-media.css';
@import '@app/css/custom-properties.css';

@import '@minimo/css/reset.css';
@import '@minimo/css/layout-base.css';
@import '@minimo/css/container.css';

/* @import '@minimo/css/forms/forms.css'; */
/* @import '@minimo/css/forms/form-edit-info.css'; */
@import '@minimo/css/buttons/buttons.css';
/* @import '@minimo/css/buttons/status-buttons.css'; */
/* @import '@minimo/css/buttons/btn-close.css'; */
@import '@minimo/css/text.css';
@import '@minimo/css/anchors.css';
/* @import '@minimo/css/headings.css'; */
/* @import '@minimo/css/alerts.css'; */
/* @import '@minimo/css/icons.css'; */
@import '@minimo/css/svg.css';
@import '@minimo/css/overlay.css';
/* @import '@minimo/css/inner-nav.css'; */
/* @import '@minimo/css/table.css'; */
/* @import '@minimo/css/flex.css'; */
/* @import '@minimo/css/grid.css'; */
/* @import '@minimo/css/details.css'; */

/* spinner attivarne uno solo + spinner-wrapper */
@import '@minimo/css/spinners/spinner-wrapper.css';
/* @import '@minimo/css/spinners/spinner-trailing-dots.css'; */
/* @import '@minimo/css/spinners/spinner-three-dots.css'; */
/* @import '@minimo/css/spinners/spinner-circle.css'; */
@import '@minimo/css/spinners/spinner-circle-basic.css';

/* @import '@minimo/css/utilities.css'; */


/* componenti */
/* @import '@src/components/modal-alert/modal-alert.css'; */

/* file progetto */
/* @import '@src/layout/layout.css'; */
