/* TODO dividere in più file secondo il tipo di button */

/*
outline btns: primary/secondary + fondo body bg o trasparente

*/

button, [role='button'], .btn {
  cursor: pointer;
}

button svg {
  pointer-events: none; /* fa sì che le icone non intercettano il click destinata ai pulsanti */
}

.btn-reset, .btn-link, .btn-close {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

a.btn {
  &:focus {
    outline: none;
  }

  &, &:hover, &:active, &:focus-visible, &:visited {
    color: var(--_button-fg-color);
    text-decoration: none;
  }
}

.btn {

  display: inline-block;
  padding: var(--btn-padding-block) var(--btn-padding-inline);
  font-size: var(--btn-font-size);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  color: var(--_button-fg-color);
  text-align: center;
  text-decoration: none;
  background: var(--_button-bg-color);
  border: var(--btn-border-width) solid var(--_button-border-color);
  border-radius: var(--btn-border-radius);
  box-shadow: none;

  &[disabled] {
    font-style: italic;
    pointer-events: none;
    cursor: not-allowed;
    opacity: var(--btn-disabled-opacity);
    filter: grayscale(60%);
  }

  svg {
    width: 1em;
    pointer-events: none;
    fill: currentColor;
  }

  &.btn-sm {
    padding: var(--btn-sm-padding-block) var(--btn-sm-padding-inline);
    font-size: var(--btn-sm-font-size);

    svg {
      width: 1.5em;
    }
  }

  &.btn-lg {
    padding: var(--btn-lg-padding-block) var(--btn-lg-padding-inline);
    font-size: var(--btn-lg-font-size);

    svg {
      width: 1.5em;
    }
  }

  &.btn-xl {
    padding: var(--btn-xl-padding-block) var(--btn-xl-padding-inline);
    font-size: var(--btn-xl-font-size);
    --_focus-ring-size: 6px;
  }

  &.btn-hollow {
    border-width: var(--btn-hollow-border-width);
  }


  &.btn-icon {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: calc(var(--form-control-padding-inline) * 1.5);
    text-align: start;
  }
}
