/* TODO dividere in più file secondo il tipo di button */

/*
outline btns: primary/secondary + fondo body bg o trasparente

*/

button, [role='button'], .btn {
  cursor: pointer;
}

button svg {
  pointer-events: none; /* fa sì che le icone non intercettano il click destinata ai pulsanti */
}

.btn-reset, .btn-link, .btn-close {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

a.btn {
  &, &:hover, &:active, &:focus, &:visited {
    color: var(--_button-fg-color);
    text-decoration: none;
  }
}

.btn {

  display: inline-block;
  padding: var(--btn-padding-block) var(--btn-padding-inline);
  font-size: var(--btn-font-size);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  color: var(--_button-fg-color);
  text-align: center;
  text-decoration: none;
  background: var(--_button-bg-color);
  border: var(--btn-border-width) solid var(--_button-border-color);
  border-radius: var(--btn-border-radius);
  box-shadow: none;

  &[disabled] {
    font-style: italic;
    pointer-events: none;
    cursor: not-allowed;
    opacity: var(--btn-disabled-opacity);
    filter: grayscale(60%);
  }

  svg {
    width: 1em;
    fill: currentColor;
  }

  &.btn-sm {
    padding: var(--btn-sm-padding-block) var(--btn-sm-padding-inline);
    font-size: var(--btn-sm-font-size);

    svg {
      width: 1.5em;
    }
  }

  &.btn-lg {
    padding: var(--btn-lg-padding-block) var(--btn-lg-padding-inline);
    font-size: var(--btn-lg-font-size);

    svg {
      width: 1.5em;
    }
  }

  &.btn-xl {
    padding: var(--btn-xl-padding-block) var(--btn-xl-padding-inline);
    font-size: var(--btn-xl-font-size);
    --_focus-ring-size: 6px;
  }

  &.btn-hollow {
    border-width: var(--btn-hollow-border-width);
  }


  &.btn-primary {
    --_button-bg-color: var(--btn-primary-background-color);
    --_button-fg-color: var(--btn-primary-color);
    --_button-border-color: var(--btn-primary-border-color);

    @media (hover: hover) {
      &:hover {
        --_button-bg-color: var(--btn-primary-hover-background-color);
        --_button-fg-color: var(--btn-primary-hover-color);
        --_button-border-color: var(--btn-primary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--btn-focus-outline-width) solid var(--btn-primary-focus-outline-color);
      /* outline-offset: 4px; */
    }

    &:active {
      --_button-bg-color: var(--btn-primary-active-background-color);
      --_button-fg-color: var(--btn-primary-active-color);
      --_button-border-color: var(--btn-primary-active-border-color);
    }


    &.btn-hollow {

      --_button-bg-color: var(--btn-primary-hollow-background-color);
      --_button-fg-color: var(--btn-primary-hollow-color);
      /* --_button-border-color: var(--__btn-o-primary-border-color); */


      @media (hover: hover) {
        &:hover {
          --_button-bg-color: var(--btn-primary-hollow-hover-background-color);
          --_button-fg-color: var(--btn-primary-hollow-hover-color);
          /* --_button-border-color: var(--__btn-o-primary-hover-border-color); */
        }
      }

      /* &:focus, &:active {
        outline: var(--__btn-focus-outline-width) solid var(--__btn-o-primary-focus-outline-color);
      }

      &:active {
        --_button-bg-color: var(--__btn-o-primary-active-bg-color);
        --_button-fg-color: var(--__btn-o-primary-active-fg-color);
        --_button-border-color: var(--__btn-o-primary-active-border-color);
      } */

    } /* end .btn-primary,btn-hollow */
  
  } /* end btn-primary */

  &.btn-secondary {
    --_button-bg-color: var(--btn-secondary-background-color));
    --_button-fg-color: var(--btn-secondary-color);
    --_button-border-color: var(--btn-secondary-border-color);

    @media (hover: hover) {
      &:hover {
        --_button-bg-color: var(--btn-secondary-hover-bg-color);
        --_button-fg-color: var(--btn-secondary-hover-fg-color);
        --_button-border-color: var(--btn-secondary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--btn-focus-outline-width) solid var(--btn-secondary-focus-outline-color);
      /* outline-offset: 4px; */
    }

    &:active {
      --_button-bg-color: var(--btn-secondary-active-bg-color);
      --_button-fg-color: var(--btn-secondary-active-fg-color);
      --_button-border-color: var(--btn-secondary-active-border-color);
    }

    &.btn-hollow {

      /* --_button-bg-color: var(--btn-o-secondary-bg-color);
      --_button-fg-color: var(--btn-o-secondary-fg-color);
      --_button-border-color: var(--btn-o-secondary-border-color);

      @media (hover: hover) {
        &:hover {
          --_button-bg-color: var(--btn-o-secondary-hover-bg-color);
          --_button-fg-color: var(--btn-o-secondary-hover-fg-color);
          --_button-border-color: var(--btn-o-secondary-hover-border-color);
        }
      }

      &:focus, &:active {
        outline: var(--btn-focus-outline-width) solid var(--btn-o-secondary-focus-outline-color);
      }

      &:active {
        --_button-bg-color: var(--btn-o-secondary-active-bg-color);
        --_button-fg-color: var(--btn-o-secondary-active-fg-color);
        --_button-border-color: var(--btn-o-secondary-active-border-color);
      } */

    } /* end .btn-secondary,btn-hollow */

  } /* end btn-secondary */

  &.btn-icon {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: calc(var(--form-control-padding-inline) * 1.5);
    text-align: start;
  }
}
