/* TODO dividere in più file secondo il tipo di button */

/*
outline btns: primary/secondary + fondo body bg o trasparente

*/

button, [role='button'] {
  cursor: pointer;
}

.btn-reset, .btn-link, .btn-close {
  &, &.btn { /* nel caso venga anche assegnata la classe `btn`, non necessaria */
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: none;
  }
}

a.btn {
  &, &:hover, &:active, &:focus, &:visited {
    color: var(--button-fg-color);
    text-decoration: none;
  }
}

.btn {

  display: inline-block;
  padding: var(--form-btn-padding-y) var(--form-btn-padding-x);
  font-size: var(--form-btn-font-size);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  color: var(--button-fg-color);
  text-align: center;
  text-decoration: none;
  background: var(--button-bg-color);
  border: var(--btn-border-width) solid var(--button-border-color);
  border-radius: var(--form-btn-border-radius);
  box-shadow: none;

  &[disabled] {
    font-style: italic;
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(60%);
    opacity: var(--form-disabled-opacity);
  }

  svg {
    width: 1em;
    fill: currentColor;
  }

  &.btn-sm {
    --form-btn-padding-x: var(--form-btn-sm-padding-x);
    --form-btn-padding-y: var(--form-btn-sm-padding-y);
    font-size: var(--form-btn-sm-font-size);

    svg {
      width: 1.5em;
    }
  }

  &.btn-lg {
    --form-btn-padding-x: 1.5rem;
    --form-btn-padding-y: .6rem;
    font-size: var(--font-size-lg);

    svg {
      width: 1.5em;
    }
  }


  &.btn-primary {
    --button-bg-color: var(--btn-primary-bg-color);
    --button-fg-color: var(--btn-primary-fg-color);
    --button-border-color: var(--btn-primary-border-color);

    @media (--mouse) {
      &:hover {
        --button-bg-color: var(--btn-primary-hover-bg-color);
        --button-fg-color: var(--btn-primary-hover-fg-color);
        --button-border-color: var(--btn-primary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--form-btn-outline-width) solid var(--btn-primary-focus-outline-color);
      /* outline-offset: 4px; */
    }

    &:active {
      --button-bg-color: var(--btn-primary-active-bg-color);
      --button-fg-color: var(--btn-primary-active-fg-color);
      --button-border-color: var(--btn-primary-active-border-color);
    }
  }

  &.btn-secondary {
    --button-bg-color: var(--btn-secondary-bg-color);
    --button-fg-color: var(--btn-secondary-fg-color);
    --button-border-color: var(--btn-secondary-border-color);

    @media (--mouse) {
      &:hover {
        --button-bg-color: var(--btn-secondary-hover-bg-color);
        --button-fg-color: var(--btn-secondary-hover-fg-color);
        --button-border-color: var(--btn-secondary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--form-btn-outline-width) solid var(--btn-secondary-focus-outline-color);
      /* outline-offset: 4px; */
    }

    &:active {
      --button-bg-color: var(--btn-secondary-active-bg-color);
      --button-fg-color: var(--btn-secondary-active-fg-color);
      --button-border-color: var(--btn-secondary-active-border-color);
    }


  }


  &.btn-outline-primary, &.btn-outline-secondary {
    border-width: var(--btn-o-border-width);
  }

  &.btn-outline-primary {
    --button-bg-color: var(--btn-o-primary-bg-color);
    --button-fg-color: var(--btn-o-primary-fg-color);
    --button-border-color: var(--btn-o-primary-border-color);


    @media (--mouse) {
      &:hover {
        --button-bg-color: var(--btn-o-primary-hover-bg-color);
        --button-fg-color: var(--btn-o-primary-hover-fg-color);
        --button-border-color: var(--btn-o-primary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--form-btn-outline-width) solid var(--btn-o-primary-focus-outline-color);
    }

    &:active {
      --button-bg-color: var(--btn-o-primary-active-bg-color);
      --button-fg-color: var(--btn-o-primary-active-fg-color);
      --button-border-color: var(--btn-o-primary-active-border-color);
    }
  }


  &.btn-outline-secondary {
    --button-bg-color: var(--btn-o-secondary-bg-color);
    --button-fg-color: var(--btn-o-secondary-fg-color);
    --button-border-color: var(--btn-o-secondary-border-color);

    @media (--mouse) {
      &:hover {
        --button-bg-color: var(--btn-o-secondary-hover-bg-color);
        --button-fg-color: var(--btn-o-secondary-hover-fg-color);
        --button-border-color: var(--btn-o-secondary-hover-border-color);
      }
    }

    &:focus, &:active {
      outline: var(--form-btn-outline-width) solid var(--btn-o-secondary-focus-outline-color);
    }

    &:active {
      --button-bg-color: var(--btn-o-secondary-active-bg-color);
      --button-fg-color: var(--btn-o-secondary-active-fg-color);
      --button-border-color: var(--btn-o-secondary-active-border-color);
    }
  }

  &.btn-icon {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: calc(var(--form-btn-padding-x) * 1.5);
    text-align: start;
  }
}


