
.btn-secondary {
  --_button-bg-color: var(--btn-secondary-background-color);
  --_button-fg-color: var(--btn-secondary-color);
  --_button-border-color: var(--btn-secondary-border-color);

  @media (hover: hover) {
    &:hover {
      --_button-bg-color: var(--btn-secondary-hover-background-color);
      --_button-fg-color: var(--btn-secondary-hover-color);
      --_button-border-color: var(--btn-secondary-hover-border-color);
    }
  }

  &:focus, &:active {
    outline: var(--btn-focus-outline-width) solid var(--btn-secondary-focus-outline-color);
    /* outline-offset: 4px; */
  }

  &:active {
    --_button-bg-color: var(--btn-secondary-active-background-color);
    --_button-fg-color: var(--btn-secondary-active-color);
    --_button-border-color: var(--btn-secondary-active-border-color);
  }


  &.btn-hollow {

    --_button-bg-color: var(--btn-secondary-hollow-background-color);
    --_button-fg-color: var(--btn-secondary-hollow-color);
    /* --_button-border-color: var(--__btn-o-secondary-border-color); */


    @media (hover: hover) {
      &:hover {
        --_button-bg-color: var(--btn-secondary-hollow-hover-background-color);
        --_button-fg-color: var(--btn-secondary-hollow-hover-color);
        /* --_button-border-color: var(--__btn-o-secondary-hover-border-color); */
      }
    }

  } /* end .btn-secondary.btn-hollow */

} /* end btn-secondary */
