.btn {

  &.btn-success {
    --_bg: var(--status-success-color);
    --_fg: var(--status-success-fg);
    --_btn-bg-color: var(--_bg);
    --_btn-fg-color: var(--_fg);
    --_btn-border-color: var(--status-success-border-color);
  }
  &.btn-info {
    --_bg: var(--status-info-color);
    --_fg: var(--status-info-fg);
    --_btn-bg-color: var(--_bg);
    --_btn-fg-color: var(--_fg);
    --_btn-border-color: var(--status-info-border-color);
  }
  &.btn-danger, &.btn-error {
    --_bg: var(--status-danger-color);
    --_fg: var(--status-danger-fg);
    --_btn-bg-color: var(--_bg);
    --_btn-fg-color: var(--_fg);
    --_btn-border-color: var(--status-danger-border-color);
  }


  &.btn-warning {
    --_bg: var(--status-warning-color);
    --_fg: var(--status-warning-fg);
    --_btn-bg-color: var(--_bg);
    --_btn-fg-color: var(--_fg);
    --_btn-border-color: var(--status-warning-border-color);

    @media (hover: hover) {
      &:hover {
        --_btn-bg-color: color-mix(in srgb, var(--_bg) 60%, transparent);
        --_btn-fg-color: var(--_fg);
        --_btn-border-color: var(--_fg);
      }
    }

    &:focus, &:active {
      outline: var(--btn-focus-outline-width) solid color-mix(in srgb, var(--_bg) 60%, transparent);
    }

    &:active {
      --_btn-bg-color: color-mix(in srgb, var(--_bg) 30%, transparent);
    }
  }


  &.btn-success, &.btn-info, &.btn-danger  {

    @media (hover: hover) {
      &:hover {
        --_btn-bg-color: color-mix(in srgb, var(--_bg) 30%, transparent);
        --_btn-fg-color: var(--_bg);
        --_btn-border-color: var(--_bg);
      }
    }

    &:focus, &:active {
      outline: var(--btn-focus-outline-width) solid color-mix(in srgb, var(--_bg) 40%, transparent);
    }

    &:active {
      --_btn-bg-color: color-mix(in srgb, var(--_bg) 10%, transparent);
    }
  }

  @media (prefers-color-scheme: dark) {


    &.btn-success, &.btn-info, &.btn-danger {

      @media (hover: hover) {
        &:hover {
          --_btn-bg-color: color-mix(in srgb, var(--_bg) 60%, #fff);
          --_btn-fg-color: var(--_bg);
          --_btn-border-color: color-mix(in srgb, var(--_bg) 40%, #fff);
        }
      }
    }

    &.btn-warning {

      @media (hover: hover) {
        &:hover {
          --_btn-bg-color: color-mix(in srgb, var(--_bg) 60%, #fff);
          --_btn-fg-color: var(--_fg);
          --_btn-border-color: var(--_fg);
        }
      }
    }

    &.btn-success, &.btn-info, &.btn-danger, &.btn-warning {

      &:focus, &:active {
        outline: var(--btn-focus-outline-width) solid color-mix(in srgb, var(--_bg) 60%, transparent);
      }

      &:active {
        --_btn-bg-color: color-mix(in srgb, var(--_bg) 30%, transparent);
        --_btn-fg-color: var(--text-color);
      }
    }
  }
}
