/* TODO separare? */
/* TODO serie di gruppi radio o checkbox */
/* TODO multiselect */
/* TODO classe grid specifica per i form ?? (.form-grid?) */
/* TODO customizable select */

.form-group:has([required]):not(:has([disabled])) .form-label {
  position: relative;
  padding-inline-start: var(--size-base);
  &::before {
    position: absolute;
    top: -.15em;
    left: 0;
    display: inline-block;
    padding-inline-end: var(--size-xxs);
    font-size: 2em;
    color: var(--form-control-required-flag-color);
    content: var(--form-control-required-flag-content);
  }

}

.form-label {
  display: block;
  font-size: var(--form-label-font-size);
  font-weight: var(--form-label-font-weight);
  color: var(--form-label-color);
}

/* la classe form-select è mantenuta per compatibilità con bootstrap  */
.form-control, .form-control-static, .form-select {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--form-control-font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--form-control-line-height);
  color: var(--form-control-text-color);
  background-color: var(--form-control-background-color);
  border: 1px solid var(--form-control-border-color);
  border-radius: var(--form-control-border-radius);

  &:focus {
    outline: var(--form-control-focus-outline-width) solid var(--form-control-focus-color);
  }
}



.form-control, .form-control-static {

  padding: var(--form-control-padding-block) var(--form-control-padding-inline);

  &::placeholder {
    font-size: var(--form-control-placeholder-font-size, var(--form-control-font-size));
    font-style: var(--form-control-placeholder-font-style, italic);
    color: var(--form-control-placeholder-color);
    opacity: var(--form-control-placeholder-opacity, .8);
  }

  &.form-control-sm {
    padding: var(--form-control-sm-padding-block) var(--form-control-sm-padding-inline);
    font-size: var(--form-control-sm-font-size);
  }
}
.form-control-static {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--form-control-static-color);
  white-space: nowrap;
  cursor: not-allowed;
  background-color: var(--form-control-static-background-color);
}

/* da bootstrap */
select.form-control, .form-select {

  /* --_form-select-trigger-icon-color: var(--form-control-text-color); */
  --_trigger-icon-padding-right: var(--size-base);

  padding: var(--form-control-padding-block) var(--_trigger-icon-padding-right) var(--form-control-padding-block) var(--form-control-padding-inline);
  appearance: none;
  background-image: var(--form-control-select-trigger-icon);
  background-repeat: no-repeat;
  background-position: right var(--_trigger-icon-padding-right) center;
  background-size: 16px 12px;

  &[multiple],
  &[size]:not([size='1']) {
    padding-right: var(--form-control-padding-inline);
    background-image: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--form-control-text-color);
  }
}

input[type='checkbox'] {
  color: var(--form-control-text-color);
  accent-color: var(--accent-100);
  transform-origin: center;
  scale: 1.3;
}

/* da bs5 */
/* versione con label a destra */
.form-check {
  display: block;
  padding-left: 1.5em;
  margin-block-start: var(--size-sm);

  .form-check-input {
    float: left;
    display: inline-block;
    width: auto;
    margin: 4px 0  0 -1.5em;
  }
}

/* fix per safari */
/* https://8yd.no/article/date-input-height-in-safari */
input::-webkit-datetime-edit {
  padding: 0;
  margin-block-end: -2px;
  line-height: 1;
}
input::-webkit-calendar-picker-trigger-icon { /* solo in chromium, non in safari */
  margin: 2px 0;
}


.form-help-text {
  font-size: var(--font-size-xs);
  color: var(--text-muted);
}


textarea.form-control {
  flex: 1;
}


