/* TODO separare? */
/* TODO serie di gruppi radio o checkbox */
/* TODO multiselect */
/* TODO classe grid specifica per i form ?? (.form-grid?) */
/* TODO customizable select */

/* TODO da verificare
fieldset.form-group, fieldset.form-collection-fset {

  &, legend {
    padding: 0;
    background: transparent;
    border: none;
  }

  legend {
    position: static;
    text-transform: none;
  }

  .form-check {
    label {
      font-weight: var(--ada-font-weight-regular);
    }
  }

}
*/

fieldset:not(.fupl-wrapper):not(.form-group):not(.form-collection-fset) {
  position: relative;
  padding: 3rem 1rem 1rem;
  margin: 1rem 0 2rem;
  background: transparent;
  border: var(--form-fieldset-border-width) solid var(--form-border-color);
  border-radius: var(--form-btns-border-radius);

  &, > legend {
    border: var(--form-fieldset-border-width) solid var(--form-border-color);
  }

  >legend {
    position: absolute;
    top: -.5rem;
    left: calc(-1 * var(--form-fieldset-border-width));
    z-index: 1;
    padding: .4rem .8rem;
    font-size: .9rem;
    font-weight: var(--font-weight-semibold);
    line-height: 1.2;
    color: var(--form-legend-color);
    /* text-transform: uppercase; */
    background-color: var(--form-legend-bg-color);
    border-radius: var(--form-btns-border-radius) var(--form-btns-border-radius) var(--form-btns-border-radius) 0;
  }

  fieldset:not(.fupl-wrapper):not(.form-group) {
    padding-top: 2rem;
    margin-bottom: .5rem;
    border: none;

    &:first-of-type {
      margin-top: 0;
    }

    >legend {
      padding-right: 0;
      padding-left: 0;
      font-size: .9rem;
      background: transparent;
      border-bottom: 1px solid var(--form-border-color);
    }
  }

  &[disabled] {
    font-style: italic;
    opacity: .6;
  }
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xxs);
  align-content: flex-start; /* multiline container */
  align-items: flex-start;
  justify-content: stretch;
  padding-block: var(--form-group-padding-block);

  &:has(textarea) {
    height: 100%;
  }

  .grid & {
    padding-block-end: 0;
  }
}

.form-group:has([required]) .form-label, .required {
  position: relative;
  padding-inline-start: var(--spacing-md);
  &::before {
    position: absolute;
    top: -.2em;
    left: 0;
    display: inline-block;
    padding-inline-end: var(--spacing-xs);
    font-size: 2em;
    color: var(--form-required-flag-color);
    content: var(--form-required-flag-content);
  }

}

.form-label {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

/* la classe form-select è mantenuta per compatibilità con bootstrap  */
.form-control, .form-control-text, .form-select {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--form-btns-font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-border-color);
  border-radius: var(--form-btns-border-radius);

  &:focus {
    outline: var(--form-btns-outline-width) solid var(--form-btns-focus-color);
  }

  &[disabled] {
    /* color: $form-select-disabled-color;
    background-color: $form-select-disabled-bg;
    border-color: $form-select-disabled-border-color; */
    background-color: var(--form-disabled-bg-color);
    /* opacity: .6; */
    &::placeholder {
      font-style: italic;
    }
  }
}

.form-control, .form-control-text {

  padding: var(--form-btns-padding-y) var(--form-btns-padding-x);

  &::placeholder {
    font-size: var(--form-btns-font-size);
    color: var(--form-placeholder-color);
    opacity: 1;
  }

  &.form-control-sm {
    padding: var(--form-btns-sm-padding-y) var(--form-btns-sm-padding-x);
    font-size: var(--form-btns-sm-font-size);
  }
}
.form-control-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: not-allowed;
  background-color: var(--form-disabled-bg-color);
}

/* da bootstrap */
select.form-control, .form-select {

  --form-select-indicator-color: var(--form-text-color);
  --indicator-padding-right: var(--spacing-base);

  padding: var(--form-btns-padding-y) var(--indicator-padding-right) var(--form-btns-padding-y) var(--form-btns-padding-x);
  appearance: none;
  background-image: url('./select-indicator.svg?cssInline');
  background-repeat: no-repeat;
  background-position: right var(--indicator-padding-right) center;
  background-size: 16px 12px;

  &[multiple],
  &[size]:not([size='1']) {
    padding-right: var(--form-btns-padding-x);
    background-image: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--form-text-color);
  }
}

input[type='checkbox'] {
  color: var(--secondary-fg);
  accent-color: var(--secondary);
  transform-origin: center;
  scale: 1.3;
}

/* da bs5 */
/* versione con label a destra */
.form-check {
  display: block;
  padding-left: 1.5em;
  margin-block-start: var(--spacing-sm);

  .form-check-input {
    display: inline-block;
    float: left;
    width: auto;
    margin: 4px 0  0 -1.5em;
  }
}

/* fix per safari */
/* https://8yd.no/article/date-input-height-in-safari */
input::-webkit-datetime-edit {
  padding: 0;
  margin-block-end: -2px;
  line-height: 1;
}
input::-webkit-calendar-picker-indicator { /* solo in chromium, non in safari */
  margin: 2px 0;
}


.form-help-text {
  font-size: var(--font-size-xs);
  color: var(--text-muted-color);
}


textarea.form-control {
  flex: 1;
}

/* da bs5 */
.input-group {
  position: relative;
  display: flex;
  gap: 0;
  align-items: stretch;
  justify-content: center;
  width: 100%;

  > .form-control, > .form-select {
    z-index: 2;
    flex: 1;
    border-inline-end: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .input-group-text {
    padding: var(--form-btns-padding-y) var(--form-btns-padding-x);
    font-size: var(--form-btns-font-size);
    background-color: var(--form-input-group-bg-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--form-btns-border-radius);
  }

  > .btn, .input-group-text {
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > * {
    &:focus, &:focus-within {
      z-index: 5;
    }
  }

  &:has([disabled]) {
    > .btn, .input-group-text {
      font-style: italic;
      color: var(--text-muted-color);
      background-color: var(--form-disabled-bg-color);
      /* opacity: .6; */
    }
  }


}

.was-validated {

  .form-group:has(:valid), .form-group:has(.is-valid){
    --status-color: var(--status-success-color);
  }
  .form-group:has(:invalid), .form-group:has(.is-invalid){
    --status-color: var(--status-danger-color);
  }

  .form-label {
    color: var(--status-color);
  }
  .form-control, .form-select {
    outline: 2px solid var(--status-color);
    outline-offset: 2px;

    &:focus {
      /* background-color: var(--status-bg-color); */
      outline: var(--form-btns-outline-width) solid var(--status-color);
      outline-offset: 0;

    }
  }

}
