.form-collection-fset { /* fieldset */
  padding: 0;
  border: none;

  .form-collection {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-xs);
    align-items: flex-start;
    justify-content: flex-start;

    &.form-collection-inline {
      flex-flow: row wrap;
      gap: var(--size-md);
    }
  }
}
