
/* da bs5 */
.input-group {
  position: relative;
  display: flex;
  gap: 0;
  align-items: stretch;
  justify-content: center;
  width: 100%;

  > .form-control, > .form-select {
    z-index: 2;
    flex: 1;
    border-inline-end: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .input-group-text {
    padding: var(--form-btn-padding-y) var(--form-btn-padding-x);
    font-size: var(--form-btn-font-size);
    background-color: var(--form-input-group-bg-color);
    border: 1px solid var(--form-border-color);
    border-radius: var(--form-btn-border-radius);
  }

  > .btn, .input-group-text {
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > * {
    &:focus, &:focus-within {
      z-index: 5;
    }
  }

  &:has([disabled]) {
    > .btn, .input-group-text {
      font-style: italic;
      color: var(--text-muted-color);
      background-color: var(--form-disabled-bg-color);
      /* opacity: .6; */
    }
  }


}
