/* da BS5 */
.was-validated {

  .form-group:has(:valid), .form-group:has(.is-valid){
    --_status-color: var(--status-success-color);
  }
  .form-group:has(:invalid), .form-group:has(.is-invalid){
    --_status-color: var(--status-danger-color);
  }

  .form-label {
    color: var(--_status-color);
  }

  /* TODO .form-select è necessario? */
  .form-control, .form-select {
    outline: var(--form-validation-outline-width) solid var(--_status-color);
    outline-offset: var(--form-validation-outline-offset);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      /* background-color: var(--_status-color); */
      outline: var(--form-control-focus-outline-width) solid var(--_status-color);
      outline-offset: var(--form-control-focus-outline-offset);
    }
  }

}
